@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Bungee-Regular;
  src: url(../../public//fonts/Bungee-Regular.ttf);
}

.primary {
  font-family: Bungee-Regular;
}
@font-face {
  font-family: Audiowide-Regular;
  src: url(../../public//fonts/Audiowide-Regular.ttf);
}

.secondary {
  font-family: Audiowide-Regular;
}
@font-face {
  font-family: SpaceMono-Regular;
  src: url(../../public//fonts/SpaceMono-Regular.ttf);
}

.SpaceMonoRegular {
  font-family: SpaceMono-Regular;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@keyframes marquee {
  to {
    transform: translateX(-100%);
  }
}

.text-stroke-red-500 {
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1.5px;
  -webkit-text-stroke-color: skyblue;
}

.animate-marquee {
  animation: marquee 100s linear infinite;
}
.progress {
  position: fixed;
  left: 0;
  right: 0;
  height: 5px;
  background: var(--accent);
  bottom: 100px;
}
.p-section {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  scroll-snap-align: center;
  perspective: 500px;
}
.p-section > div {
  width: 300px;
  height: 400px;
  position: relative;
  max-height: 90vh;
  margin: 20px;
  background: var(--white);
  overflow: hidden;
}
